* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    color: #ebbcba;
}

window#waybar {
    /*background-color: rgba(0, 0, 0, 1);*/
    background-color: #191724;
    background-color: transparent;
    color: #ebbcba;
    /*border: 1px solid rgba(211, 187, 255, 0.5);*/
    /*border-radius: 10;*/
}


#workspaces {
    /* margin: 4px 0px 4px 0px; */
    background-color: #191724;
    border-radius: 15px;
    padding: 0 10px 0 5px;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

@keyframes blink {
    to {
        color: #f53c3c;
    }
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */


#workspaces button {
    margin: 0 0px;
    padding: 0 0px;
    background-color: transparent;
    min-width: 20px;
}

#workspaces button:hover {
    /* background: rgba(38, 51, 85, 0.5); */
    background: transparent;
}

#workspaces button.active {
    font-weight: bold;
}

#workspaces button.urgent {
    color: #eb4d4b;
}

button:hover {
    /* background: rgba(38, 51, 85, 0.5); */
    background: transparent;
}

 button.active {
    font-weight: bold;
}

button.urgent {
    color: #eb4d4b;
}


/* #taskbar { */
/*     margin: 2px 0px 2px 0px; */
/*     background-color: #313244; */
/*     border-radius: 15px; */
/*     padding: 0 7px; */
/*     color: #89b4fa; */
/* } */

#tray,
#taskbar,
#idle_inhibitor,
#mpris,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#privacy,
#custom-media,
#mode,
#scratchpad,
#mpd {
    /* margin: 4px 0px 4px 0px; */
    background-color: #191724;
    border-radius: 15px;
    padding: 0 10px 0 10px;
}


#window,

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* #taskbar { */
/*     border: 1px solid #ffffff; */
/* } */

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}






#cpu {
    background-color: #191724;;
    color: #ebbcba;;
}

#memory {
    background-color: #191724;
    border-radius: 15px;
    padding: 0 10px 0 5px;
}

#disk {
    background-color: #964b00;
}

#network {
    padding: 7px;
}

#network.disconnected {
    color: #eb4d4b;
}

#pulseaudio.muted {
    color: #eb4d4b;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}
#custom-launcher {
    /* margin: 4px 0px 4px 5px; */
    background-color: #191724;
    border-radius: 15px;
    padding: 0 8px 0 11px;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}


#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
